.footer {
  position: relative;
  background: var(--black);
  padding: 8rem 3rem 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__socials__container__list-item {
  margin-right: 1rem;
}

.footer__socials__container__list-item img {
  width: 48px;
  height: 48px;
  transition: all 0.5s;
}

.footer__socials__container__list-item img:hover {
  filter: drop-shadow(0 0 5px var(--gold));
}

.footer__socials__container__list-item img:first-child img {
  transform: scale(1.5);
  margin-right: 12px;
}

.footer__socials__container__list-item img:first-child img {
  transform: scale(1.2);
  margin-left: 8px;
}

.footer__phone {
  grid-column: span 2;
}

.footer__phone-ico {
  gap: 12px;
}

.footer__phone-ico img {
  width: 40px;
}

.footer__phone-ico span {
  font-size: 1.3rem;
}

.footer__contract-button {
  background: none;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  transition: all 0.5s;
}

.footer__contract-button:hover {
  cursor: pointer;
  background: var(--white);
  color: var(--black);
}

.footer__logo {
  width: 320px;
  margin-bottom: -60px;
  margin-top: -90px;
  grid-column: span 4;
  margin: -20px auto;
}

.footer__logo p {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

@media (max-width: 1024px) {
  .footer {
    padding: 4rem 4rem 2rem 4rem;
  }

  .footer__socials {
    grid-column: span 2;
    margin-bottom: -10px;
  }

  .footer__contract {
    grid-column: span 4;
    margin-top: 5vh;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer__socials {
    grid-column: span 4;
    margin-bottom: 3rem;
  }

  .footer__phone {
    grid-column: span 4;
    margin-bottom: 1rem;
  }

  .footer__phone-ico {
    gap: 8px;
  }

  .footer__phone-ico img {
    width: 30px;
  }
}
