.header {
  width: 100vw;
  height: 15vh;
  padding: 0 4rem;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
  justify-content: space-between !important;
}

.header__socials__list {
  gap: 1.4vw;
}

.header__socials__list-item {
  width: 40px;
  height: 40px;
}

.header__socials__list-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.5s;
  transform: translateY(-10vh);
  animation: entUp 1s forwards linear;
}

.header__socials__list-item img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 6px var);
}

.header__socials__list-item:first-child img {
  transform: translateY(-10vh);
  margin-right: 12px;
  transition: all 0.5s;
  width: 135%;
  height: 135%;
}

.header__socials__list-item:nth-child(2) img {
  animation-delay: 0.5s;
}

.header__socials__list-item:nth-child(3) img {
  animation-delay: 1s;
}

.header__socials__list-item:last-child img {
  transform: translateY(-10vh);
  margin-left: 14px;
  animation-delay: 1.5s;
  width: 125%;
  height: 125%;
}

.hamburguerMenu {
  z-index: 2;
}

.hamburguerMenu-item {
  flex-direction: column;
  align-items: end !important;
  z-index: 3;
  transform: translate(10vw);
  animation: entrance 2s forwards linear;
}

.hamburguerMenu-item--bar {
  width: 20px;
  border-radius: 20px;
  transition: all 1s;
  background: var(--white);
  height: 5px;
}

.hamburguerMenu-item--bar:nth-child(2) {
  width: 38px;
  margin-top: 6px;
}

.hamburguerMenu-item--bar:nth-child(3) {
  width: 28px;
  margin-top: 6px;
}

.hamburguerMenu-item--bar.active {
  position: relative;
  width: 38px;
  transform: rotate(45deg);
  transition: all 1s;
}

.hamburguerMenu-item--bar:nth-child(2).active {
  background: transparent;
}

.hamburguerMenu-item--bar:nth-child(3).active {
  position: relative;
  width: 38px;
  transform: rotate(-45deg);
  transition: all 1s;
  bottom: 22px;
}

.hamburguerMenu-item:hover {
  cursor: pointer;
}

.hamburguerMenu-item:hover .hamburguerMenu-item--bar {
  width: 38px;
}

.overlayMenu {
  position: fixed;
  top: 0;
  right: -30vw;
  height: 100vh;
  width: 30vw;
  background: linear-gradient(to left, var(--black) 70%, transparent);
  transition: all 2s;
  z-index: 1;
}

.overlayMenu.active {
  right: 0;
}

.overlayMenu__list {
  flex-direction: column;
  margin-left: 10rem;
  gap: 32px;
  align-items: end;
}

.overlayMenu__list-item {
  font-size: 2rem;
  transition: all 0.5s;
  cursor: pointer;
}

@keyframes entrance {
  0% {
    transform: translate(10vw);
  }
  100% {
    transform: translate(0vw);
  }
}

@keyframes entUp {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@media (max-width: 1024px) {
  .overlayMenu.active {
    right: 0vw !important;
    padding-right: 30vw;
    padding-left: 30vw;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0 2rem;
  }

  .overlayMenu.active {
    padding-right: 50vw;
    padding-left: 40vw;
  }
}
