.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero__logo {
  position: absolute;
  left: 2.4vw;
  bottom: 20vh;
  width: 40vw;
  height: 30vh;
  z-index: 4;
}

.hero__logo img {
  width: 100%;
  height: auto;
  opacity: 0;
  animation: appear 4s forwards linear;
}

.hero__circles {
  position: absolute;
  width: 50vw;
  height: 70vh;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.hero__circles .hero__circles--ext,
.hero__circles .hero__circles--mid,
.hero__circles .hero__circles--int {
  position: absolute;
  left: -80%;
  bottom: -110%;
  width: 150%;
  height: 200%;
  border-top: 4px solid var(--goldDark);
  border-bottom: 0px solid var(--goldDark);
  border-radius: 50%;
  transform: rotate(-90deg);
  animation: rotate 3s forwards linear;
  z-index: 6;
  transition: all 2s;
}

.hero__circles .hero__circles--mid {
  z-index: 3;
  left: -60%;
  bottom: -105%;
  width: 120%;
  height: 180%;
}

.hero__circles .hero__circles--int {
  z-index: 6;
  left: -50%;
  bottom: -100%;
  width: 100%;
  height: 160%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.4;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1024px) {
  .hero {
    bottom: 10vh;
  }

  .hero__logo {
    left: 4vw;
    bottom: 10vh;
    width: 80vw;
  }

  .hero__circles {
    width: 90vw;
    height: 50vh;
  }
}

@media (max-width: 600px) {
  .hero__circles {
    width: 120vw;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .hero {
    height: 120vh;
  }

  .hero__logo {
    bottom: 50vh;
    width: 60vw;
    height: 30vh;
  }

  .hero__circles {
    width: 50vw;
    height: 70vh;
  }
}
