.momentazzos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.momentazzos__video {
  position: relative;
  height: 80vh;
}

.momentazzos__img {
  position: relative;
  height: 80vh;
  background: var(--black);
}

.momentazzos__img-back {
  width: 100%;
  height: 100%;
  filter: blur(8px);
}

.momentazzos__img__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  background: var(--white);
  box-shadow: 0 0 10px var(--black);
  transition: all 0.5s;
}

.momentazzos__img__card:hover {
  width: 62%;
  height: 52%;
}

.momentazzos__img__card-img {
  position: absolute;
  top: 12%;
  left: 7.5%;
  width: 85%;
  height: 60%;
  object-fit: cover;
  transition: all 0.5s;
}

.momentazzos__img__card-logo {
  width: 120px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%);
}

.momentazzos__img__card-title {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%);
  color: var(--black-light);
  font-size: 2.3rem;
}

@media (max-width: 1024px) {
  .momentazzos {
    grid-template-columns: repeat(1, 1fr);
  }

  .momentazzos__video {
    height: 50vh;
  }

  .momentazzos__img {
    margin-bottom: 4rem;
    height: 60vh;
  }

  .momentazzos__img__card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    background: var(--white);
    box-shadow: 0 0 10px var(--black);
    transition: all 0.5s;
  }

  .momentazzos__img__card:hover {
    width: 62%;
    height: 52%;
  }

  .momentazzos__img__card-img {
    position: absolute;
    top: 12%;
    left: 7.5%;
    width: 85%;
    height: 60%;
    object-fit: cover;
    transition: all 0.5s;
  }

  .momentazzos__img__card-logo {
    width: 120px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
  }

  .momentazzos__img__card-title {
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translate(-50%);
    color: var(--black-light);
    font-size: 2.3rem;
  }
}

@media (max-width: 600px) {
  .momentazzos__video {
    height: 50vh;
  }

  .momentazzos__img {
    height: 70vh;
  }

  .momentazzos__img__card {
    width: 80%;
    height: 70%;
  }

  .momentazzos__img__card:hover {
    width: 80%;
    height: 70%;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .momentazzos__video {
    height: 140vh;
  }

  .momentazzos__img {
    height: 140vh;
  }

  .momentazzos__img__card {
    width: 70%;
    height: 70%;
  }

  .momentazzos__img__card:hover {
    width: 70%;
    height: 70%;
  }
}
