:root {
  --black: #111;
  --blackLight: #444;
  --white: #f9f9f9;
  --whiteDark: rgb(224, 224, 224);
  --gold: #e0aa3e;
  --goldLight: #f7ef8a;
  --goldDark: #926f34;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@font-face {
  font-family: "satoshi";
  src: url("../assets/fonts/satoshi.ttf") format("truetype");
}

@import url("./componentes/home/hero.css");
@import url("./componentes/home/slider.css");
@import url("./componentes/home/momentazzos.css");
@import url("./componentes/home/playlist.css");
@import url("./componentes/home/djSection.css");

@import url("./componentes/djs/djInfo.css");
@import url("./componentes/djs/gallery.css");

@import url("./componentes/common/footer.css");
@import url("./componentes/common/header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--black);
  color: var(--white);
  scroll-behavior: smooth;
  font-family: "satoshi";
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}